
$primary-color:#3A63F3;
$background-color:#F5F7FA;
$selected-color:#EBEFFE;
$border-color:#476DF4;
$success-color:#61B51D;
$fail-color:#F54747;
$none-selected-color:#C4C4C4;
$text-gray:#787474; 
$button-text-color:#757272;